@import "./reset.css";

body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--gray-00);
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 1.25rem;
  font-weight: var(--font-weight-md);
}

h2 {
  font-weight: var(--font-weight-md);
}

h3 {
  font-weight: var(--font-weight-reg);
}
