.headerContent {
  position: relative;
  background-color: var(--blue-primary);
  box-shadow: var(--shadow-2);
}

.headerContent th {
  height: 3rem;
  padding: 0 2rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: start;
  vertical-align: middle;
}

.img {
  width: 10%;
}
.name {
  width: 30%;
}
.job,
.admissionDate,
.phone {
  width: 20%;
}

.circle {
  display: none;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--white);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .img {
    width: 20%;
  }
  .name {
    width: 70%;
  }
  .circleColumn {
    width: 10%;
  }

  .job,
  .admissionDate,
  .phone {
    display: none;
  }
  .circle {
    display: block;
  }
}
