.container {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.input {
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 18.125rem;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border: 1px solid var(--gray-10);
  outline: none;

  &::placeholder {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--gray-20);
  }

  &:focus {
    border: 1px solid var(--gray-20);
  }
}

.searchIcon {
  position: absolute;
  right: 0.75rem;
  pointer-events: none;
}

.searchIcon path {
  fill: var(--gray-10);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .input {
    width: 100%;
    padding: 1rem 2.5rem 1rem 1rem;
  }
}
