.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0.25rem 1.25rem;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
}

@media (max-width: 120px) {
  .header {
    padding: 0.1rem 0.5rem;
  }
}
